.myName {
  margin-bottom: 30px;
}
// .homeGravity {
//   margin-left: 150px;
// }
.languages {
  margin-top: 40px;
  margin-bottom: 100px;
}

.exocraft {
  .nav-item {
    width: 80px;
    position: relative;
    bottom: 90px;
    left: 400px;
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
}

.aboutMe {
  margin-bottom: 50px;
  margin-left: 79px;
  margin-right: 79px;
}

.getInTouchImg {
  width: 700px;
}
